name: Terraform Infra

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - infra

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.6.0

    - name: Configure AWS credentials via OIDC
      uses: aws-actions/configure-aws-credentials@v3
      with:
        role-to-assume: arn:aws:iam::939338074907:role/Github_role
        aws-region: us-east-1

    - name: Terraform Init
      working-directory: terraform
      run: terraform init -input=false

    - name: Terraform Validate
      working-directory: terraform
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan
      working-directory: terraform 

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform
      
